nav ul{ 
     background-color: #2e384d; padding: 10px;
}
nav ul li{
     display: flex; justify-content: center;
}
nav ul li .title{
     margin: 0px 120px; color: white;
}

.cta{
     color: white;
     background-color: #2e384d;
     margin-top: 20px;
     border: none;
     padding: 20px 40px;
   }
     
     .my-container{

       margin-top: 200px;

     
   }
   .container-home{
        display: flex;
   }
   .my-container{
     text-align:center ; width: 50%;
   }
   .btn-primary{
        border: #28a745 2px solid !important;
        background-color: #28a745 !important;
   }
   .btn-secondary{
        color: #2e384d !important;
        background-color: #fff !important;
   }
   .svgContainer{
        width: 50%;
   }
   .svgContainer img{width: 500px;}

/*Media Query*/   
@media screen and (max-width: 530px) {
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 11px;
   
}
nav ul{ 
     background-color: #2e384d; padding: 10px;
}
nav ul li{
     display: flex; justify-content: center;
}

nav ul li .title{
     margin: 0px 50px; color: white;

}
.my-container{

     margin-top: 100px;
 }
 .container-home{
      display: flex;
      font-size: 8px;
 }


.my-container{
     text-align:center ; width: 50%;}

.svgContainer{
          width: 50%;
     }     

.svgContainer img{width: 300px;} 

   }

@media screen and (max-width: 750px) {
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 11.5px;
   
}
nav ul{ 
     background-color: #2e384d; padding: 10px;
}
nav ul li{
     display: flex; justify-content: center;
}
nav ul li .title{
     margin: 0px 50px; color: white;

}
.my-container{

     margin-top: 100px;
 }
 .container-home{
      display: flex;
      font-size: 10px;
 }

.my-container{
     text-align:center ; width: 45%;}

.svgContainer{
          width: 55%;
     }     

.svgContainer img{width: 350px;} 
}